.service-section{
    background-color: var(--lightyellow);
    padding-bottom: 100px;
}
.heading{
    padding-top: 50px;
    margin-bottom: 40px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color:var(--heading)
}
.service-cards{
display: flex;
flex-wrap: wrap;
max-width:85vw;
margin: auto;
gap: 20px;
}
.card-logo{
    background-color: #faf7e6;
    height: 80px;  
    margin-top: 25px;
    width: 80px;
    margin-left: 20px;
    padding-left: 20px;
    display: flex;
    transform: rotate(-45deg);
    border-radius: 2px;
    position: relative;
    border-radius: 17px;    
}
.card-logo img{
    position: absolute;
    top: 7px;
    right: 6px;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    background-color: #e5e2c8;
    border-radius: 50px;
    margin-bottom: 25px;
    padding: 25px 25px;
    transition: .3s;
    width: 20vw;
    background-color: #e5e2c8;
}
.card-desc{
    color: var(--pcolor);
    line-height: 28px;
}
.card-btn{
    font-family :Merriweather, Georgia, serif;
font-size: 16px;
font-style :normal;
font-weight :400;
color: var(--darkyellow);
background: none;
padding-top: 20px;
border: none;
text-align: start;
margin-bottom: 25px;
transition: 0.2s;
}
.service-cards :hover{
    background-color: #efb44b;
    color: #fff;
    transition: .3s;
}
.service-cards :hover .card-heading , .service-cards :hover .card-desc{
    color: #fff;
    transition: .3s;
}
.service-cards :hover .card-btn{
color: white;

border: 2px solid #fff;
border-radius: 50px;
padding: 15px 25px;
}
.card-heading{
    color: var(--heading);
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.l-card{
    padding:46px 30px;
    background: var(--darkyellow);
    width: calc(100vw - 60vw);
    border-radius: 50px;
    font-weight: 400px;
    color: white;
}
.l-card h3{
    font-size: 30px;
}
.l-card p{
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.l-card button{
    border: 1px solid white;
    background: none;
    border-radius: 50px!important;
    color: #fff!important;
    display: inline-block;
    font-family: Lato,serif;
    font-size: 18px;
    font-weight: 700;
    padding: 22px 40px!important;
    text-transform: uppercase;
}
.l-card span{
    font-weight: 900;
}
@media only screen and (max-width: 1025px) {
    .cards {
      width: 40vw;
    }
}
@media only screen and (max-width: 768px) {
    .service-cards{
        flex-direction: column;     
    }
    .cards{
        width: 80vw !important;
    }
    .l-card {
        width: auto !important
    }
}
@media only screen and (max-width: 1199px) {
    .cards {
      width: 30vw;
    }
    .service-cards{
        justify-content: center;

    }
}
@media only screen and (max-width: 500px) {
    .cards {
      width: 40vw;
    }
    .cards{
        width: 100vw;
    }
    
}