.about-section{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    gap: 60px;
    width: 75vw;
    margin: auto;
}
.about-desc{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px 20px;
}
.about-desc p{
    color: #686868;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 15px;
}
.about-desc h1{
    padding: 20px;
    line-height: 3rem;
    font-size: 3rem;
    color: var(--heading);
}
.about-img{
    background: var(--darkyellow);
    width: fit-content;
    position: relative;
    height: calc(354px - 30px);
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: moveupdown;
    z-index: 2;
    animation-direction: alternate;
    transition: all 0.3s linear;
}
.about-lg{
    transform: translate(38px, -31px);
}
.about-sm{
position: absolute;
top: 19%;
LEFT: -111PX;
padding: 15px;
background: white;
animation-name:  moveleft;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
transition: all 0.3s linear;
}
.about-img .about-lg img{
    height: 354px;
}


@keyframes moveupdown {
    from{
   bottom:  -60px;
}to{
    bottom:  -20px;
    }
}

@keyframes moveleft {
    from{
        left:-111px
    }to{
        
        left:-60px;
    }
}

@media screen  and (max-width:1025px){
    .about-section{
            flex-direction: column;
            overflow: hidden;
            width: unset;
            align-items: center;
    }
    .about-desc{
        align-items: center;
    }
    .cards{
        width: 40vw;
    }
            
.l-card{
    width: calc(100vw - 45vw);
}
.l-card p{
    font-size: unset;
}
}