.about-section{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    /* margin: 0px 60px; */
    gap: 60px;
    width: 80vw;
    margin: auto;
}
.about-desc{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0px 20px;
}
.about-desc p{
    color: #686868;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 15px;
}
.about-desc h1{
    padding: 20px;
    line-height: 3rem;
    font-size: 3rem;
    color: var(--heading);
}
.about-img{
    background: var(--darkyellow);
    width: fit-content;
    height: unset;
    position: relative;
    height: calc(354px - 30px);
    /* animation: moveupdown 2s  linear delay infinite direction fill-mode;
    animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: moveupdown;
    z-index: 2;
    animation-direction: alternate;
    transition: all 0.3s linear;
}
.about-lg{
    transform: translate(38px, -31px);
}
.about-sm{
position: absolute;
top: 19%;
LEFT: -111PX;
padding: 15px;
background: white;
animation-name:  moveleft;
animation-duration: 4s;
animation-iteration-count: infinite;
/* animation-name: moveupdown; */
/* z-index: 2; */
animation-direction: alternate;
transition: all .3s ease-out 0s;
}
.about-img .about-lg img{
    height: 354px;
}

.about-desc .read-more{
    background-color: #efb44b!important;
    border: 1px solid #fff;
    border-radius: 50px!important;
    color: #fff!important;
    display: inline-block;
    font-family: Lato,serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    padding: 22px 40px!important;
    text-transform: uppercase;
    width: fit-content;
}

@keyframes moveupdown {
    from{
   bottom:  -60px;
}to{
    bottom:  -20px;
    }
}

@keyframes moveleft {
    from{
        left:-111px
    }to{
        
        left:-60px;
    }
}

@media screen  and (max-width:950px){
    .about-section{
            flex-direction: column;
            overflow: hidden;
    }
}