.scroll-to-top{
    height: 50px;
    width: 50px;
    background-color: var(--darkyellow);
    position:fixed;
    bottom: 30px;
    right: 30px;
    box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
    border-radius: 10px;
}
.scroll-to-top span{
    display: inline-block;
    padding: 7px;
}
.social-media-icons{
    display: flex;
    gap: 8px;
}
.social-media-icons a:hover .social-media-icons svg{
    color: black;
}
.footer-section p{
    font-family: 'Merriweather';
}
.footer-copyright{
    max-width: 90vw;
    margin: auto;
    background: var(--heading);
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    color: white;
    flex-wrap: wrap;
    gap: 20px;
}
.footer-section{
    padding: 100px 6vw;
    background-color: var(--heading);
    color: white;
    display: flex;
    justify-content: space-between;
}
.footer-section h3{
    font-weight: bolder;
    font-size: 1.8rem;
}
.first-section,.second-section{
    width: 50%;
display: flex;
justify-content: space-evenly;
gap: 60px;
}
.footer-flex{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 40%;
}

.footer-flex li :hover{

    color: #efb44b;
}
.quick-links{
    align-items: center;
}
.footer-section ul li{
    list-style: none;
}
.footer-newsletter input[type='email']{
 border-radius: 28px;
    padding: 22px 67px;
    border: none;
}
.footer-newsletter button{
    border-radius: 50px;
    padding: 20px 21px;
    background: #efb44b;
    border: none;
    height: 64px;
    width: 64px;
}


.footer-newsletter{
    position: relative;
    width: fit-content;
}
.footer-newsletter button{
position: absolute;

 left: max(60%,80%);
}
.social-media{
    color: #efb44b;
    font-weight: bolder;
    font-size: larger;
}
.footer-copy{
    background-color: var(--heading);
}
.our-services .footer-flex{
    width: auto;
}
.footer-flex li{
    cursor: pointer;
}
.footer-flex li:hover{
    transition: all 0.2s;
    color: var(--darkyellow) !important;
}
@media only screen and (max-width: 1102px){
    .footer-section{
        flex-direction: row;
    }
    .first-section, .second-section {
        width: unset;
        flex-direction: column;
        gap: 40px;
    }
    .footer-flex {
         width: unset;
        }
        .quick-links{
            align-items: unset;
        }
}

@media screen and (max-width:769px) {
    .first-section{
        padding: 80px 3vw;
    }
}
@media only screen and (max-width: 650px){
    .footer-section{
        flex-direction: column;
        gap: 30px;
    }
    .first-section, .second-section {
        width: unset;
        flex-direction: column;
        gap: 40px;
    }
    .footer-flex {
         width: unset;
        }
}