@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Merriweather:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", serif;
  /* color: #A8864B; */
  margin-top: 0px;
  font-weight: 700;
  text-transform: normal;
}

body {
  font-family: Merriweather, Georgia, serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --lightyellow: #faf7e6;
  --heading: #a8864b;
  --darkyellow: #efb44b;
  --white: #fff;
  --pcolor: #686868;
}

.read-more{
  background-color: #efb44b!important;
  border: 1px solid #fff;
  border-radius: 50px!important;
  color: #fff!important;
  display: inline-block;
  font-family: Lato,serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  padding: 22px 40px!important;
  text-transform: uppercase;
  width: fit-content;
}

@media screen  and (max-width:770px){
 h1{
  font-size: 2rem;
  line-height: 2rem;
 }
}

#scroll-to-top{
  height: 50px;
  width: 50px;
  background-color: var(--darkyellow);
  position:fixed;
  bottom: 30px;
  right: 30px;
  box-shadow: 0 9px 25px 0 rgba(132, 128, 177, 0.28);
  border-radius: 10px;
}
#scroll-to-top span{
  display: inline-block;
  padding: 7px;
}
