*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato,serif;
}
:root{
  --lightyellow: #faf7e6;
  --heading:#a8864b;
  --darkyellow:#efb44b;
  --white :#fff;
  --pcolor :#686868;
}
