p{
    font-family: 'Merriweather';
}
.german-section{
    background: var(--heading);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 100px;
}
.german-section p{
    color: #fff;
    text-align: left;
    line-height: 28px;
}
.german-desc h2{
    font-size: 2.7rem;
    color: #efb44b;
}
.german-section .german-desc{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.german-desc p{

    padding-right: 50px;
    font-size: 17px;
}

.german-services{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.german-card{
    background-color: #efb44b;
    border-color: #fff!important;
    padding: 20px 40px ;
    border-radius: 50px;
    text-align: center;
    border: 1.5px solid white ;
}
.german-card-body{
    align-items: center;
    color: #efb44b;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px 0;
    gap: 30px;
}

.insurance-section-main-div{
    padding: 100px 0px;
    display: flex;
    gap: 5vw;
    width: 80vw;
    margin: auto;
}
.left-section-img{
    width: 100%;
}
.insurance-section-main-div .left-section{
    width: 50%;
}
.insurance-section-main-div .left-section img{
    width: 100%;
    transform: translate(-34px, -34px);
}
.insurance-section-main-div .left-section-img{
    width: 80%;
    background-color: #efb44b;

}

.insurance-section-main-div .right-section{
    width: 50%;
}
.insurance-section-main-div .right-section{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.insurance-section-main-div .right-section h2{
    font-size: 45px;
}
.insurance-section-main-div .right-section p{
    font-size: 18px;
    font-family: ' Merriweather, Georgia, '
}
.insurance-section-main-div .right-section h2{
   color: var(--heading);
}
.money-transfer-section .insurance-section-main-div{
    flex-direction: row-reverse;
}

    @media screen and (max-width:769px) {
        .german-section{
            flex-direction: column;
            gap: 30px;
        }
        .german-section .german-desc {
            width: 100%;
            padding-left: 35px;
        }
        .insurance-section-main-div .left-section-img {
            width: unset;
        }
    }
    .insurance-section-main-div{
        flex-wrap: wrap;
    }
    .insurance-section-main-div .left-section {
        width: unset
    }
    .insurance-section-main-div .right-section {
        width: unset;
    }

@media screen and (max-width:644px){
    .german-section{
        flex-wrap: wrap;
        padding: 100px 0px;
    } 
    .german-desc h2{
    font-size: 2rem;
   }
}
@media only screen and (max-width: 430px) {
    .german-section{
        flex-direction: column;
        gap: 30px;
    }
    .german-desc{
        width: unset
    }
    .german-desc p{
        padding-right: unset; 
     padding-bottom: 40px; 
     font-size: unset
    }
    
.german-desc h2 {
    font-size: 20px;
    color: #efb44b;
}
    .insurance-section-main-div .left-section {
        width: 100%
    }
    .insurance-section-main-div {
  flex-direction: column;
  padding: 80px 0px;
    }
    .money-transfer-section .insurance-section-main-div {
        flex-direction: column;
    }
    .german-section .read-more, .insurance-section-main-div .right-section .read-more {
  
        font-size: small;
        line-height:unset;
    }
    

.insurance-section-main-div .right-section p {
    font-size: 16px;
}

}