.before-nav{
    background: var(--heading);
    padding-bottom: 10px;
}
header{
    max-width: 87vw;
    margin: auto;
}
.logo{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: start;
    /* margin: auto; */
    margin:auto auto 10px 20px ;
}
.wrapper{
    padding-top: 5px;
    margin-left: 40px;
    display: flex;
    /* justify-content: space-around; */
    /* flex-direction: column; */
    align-items: center;
}
.nav-links{
    margin-right: 30px;
    display: flex;
    /* align-items: flex-start; */
    padding: 0px 50px;
    /* justify-content: space-evenly; */
}
.nav-links li {
    list-style-type: none;
}
.nav-links li a{
    font-size: 18px;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bolder;
    color: var(--heading);
}
.nav-links li a:hover{
    color: var(--darkyellow);
}
@media only screen and (max-width: 953px) {
    .nav-links {
     display: none !important;
    }
    .nav-links li a{
        color: black;
    }
  }