.hero{
    position: relative;
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center

}
.bg-video{
    object-fit: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.content{
    position: absolute;
    left:9vw;
    z-index: 2;

    margin-top: 30px;
    margin-left: 30px;
}
.content p{
    margin-top: inherit;
    /* margin-left: inherit; */
    font-size: 20px;
}

.content h1{
    font-size: 4.5rem;
    min-height: auto;
    /* width: fit-content; */
}
@media screen and (max-width:769px) {
    .bg-video{
        height: 80vh;
    }
    .content h1 {
        font-size: 3rem;
        line-height: 3rem;
        min-height: auto;
    }
    .content{
        align-items: flex-start;
    }
    .content p{
        margin-right: 20px;
    }
}
@media only screen and (max-width: 500px) {
    .content {
        font-size: 1rem ;
        display: block;
        left: 0px;
    }
    .content h1{
        font-size: 30px;
    }
    .content p{
        margin-left: 0;
        font-size: 18px;
    }
    .l-card{
        width: 100vw !important;
    }
}